body {
  background-image: url('https://static.nike.com/a/images/f_auto/dpr_0.0,cs_srgb/w_1212,c_limit/15b8bfc3-1fb4-4cbc-bc4c-b980f05a26bc/11-ejercicios-de-f%C3%BAtbol-que-mejoran-la-agilidad.png');
  background-size: cover;
  background-position: center;

}
