<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="relative min-h-screen">

  
  <div class="absolute inset-0 z-0">
    <div class="bg-[url('https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1212,c_limit/15b8bfc3-1fb4-4cbc-bc4c-b980f05a26bc/11-ejercicios-de-f%C3%BAtbol-que-mejoran-habilidades-esenciales-de-este-juego.jpg')] 
                bg-cover bg-center w-full h-full">
    </div>
  </div>

  
  <div class="absolute top-0 w-full h-20 bg-gray-500 bg-opacity-50 z-0"></div>

  
  <div class="flex items-center gap-8 p-4 relative z-10">
    <a href="/" class="block">
      <img src="https://media.istockphoto.com/id/1304402879/es/vector/icono-de-la-casa-en-la-plantilla-de-logotipo-vectorial-de-estilo-plano-de-moda.jpg?s=170667a&w=0&k=20&c=EF-4DV5SGpj-Kmpie1RhzK034zBnH4NrjWjm19Lxcss=" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="account.html" class="block">
      <img src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="inloggen.html">inloggen</a>
    
    <a href="maakpost.html">
      <img src="https://static.vecteezy.com/system/resources/previews/011/912/003/non_2x/plus-sign-icon-free-png.png" class="
      w-8 h-8">
    </a>
  </div>

  <div class="h-screen flex items-center justify-center">
    <div class="w-1/2 h-4/5 bg-gray-500 relative">
    <ul class="absolute-right ml-10">Email<ul>
    <ul>Aantal post</ul>
    <ul>  </ul>
    
    </div>
  </div>

</body>
</html>