<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="relative min-h-screen">

  <!-- Achtergrondafbeelding -->
  <div class="absolute inset-0 -z-10">
    <div class="bg-[url('https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1212,c_limit/15b8bfc3-1fb4-4cbc-bc4c-b980f05a26bc/11-ejercicios-de-f%C3%BAtbol-que-mejoran-habilidades-esenciales-de-este-juego.jpg')] 
                bg-cover bg-center w-full h-full">
    </div>
  </div>

  <!-- Grijs semi-transparant blok -->
  <div class="absolute top-0 w-full h-20 bg-gray-500 bg-opacity-50 z-0"></div>

  <!-- Flex menu -->
  <div class="flex items-center gap-8 p-4 relative z-10">
    <a href="/" class="block">
      <img src="https://media.istockphoto.com/id/1304402879/es/vector/icono-de-la-casa-en-la-plantilla-de-logotipo-vectorial-de-estilo-plano-de-moda.jpg?s=170667a&w=0&k=20&c=EF-4DV5SGpj-Kmpie1RhzK034zBnH4NrjWjm19Lxcss=" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="account.html" class="block">
      <img src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="inloggen.html">inloggen</a>
  </div>

 

  <div class="max-w-sm mx-auto mt-10 p-6 bg-gray-500 ">
  <form class="space-y-4">

    
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
      <input type="email" id="email" name="email" 
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    </div>

    
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Wachtwoord</label>
      <input type="password" id="password" name="password" 
             class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    </div>

    
    <button type="submit"
            class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg">
      Inloggen
    </button>

    <a href="regristreren.html">heeft u nog geen account? klik op deze tekst om te regristreren</a>

  </form>
</div>

</body>
</html>