<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="relative min-h-screen">

  
  <div class="absolute inset-0 z-0">
    <div class="bg-[url('https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1212,c_limit/15b8bfc3-1fb4-4cbc-bc4c-b980f05a26bc/11-ejercicios-de-f%C3%BAtbol-que-mejoran-habilidades-esenciales-de-este-juego.jpg')] 
                bg-cover bg-center w-full h-full">
    </div>
  </div>

  <div class="absolute top-0 w-full h-20 bg-gray-500 bg-opacity-50 z-0"></div>

  
  <div class="flex items-center gap-8 p-4 relative z-10">
    <a href="/" class="block">
      <img src="https://media.istockphoto.com/id/1304402879/es/vector/icono-de-la-casa-en-la-plantilla-de-logotipo-vectorial-de-estilo-plano-de-moda.jpg?s=170667a&w=0&k=20&c=EF-4DV5SGpj-Kmpie1RhzK034zBnH4NrjWjm19Lxcss=" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="account.html" class="block">
      <img src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png" 
           class="w-8 h-8 object-contain">
    </a>

    <a href="inloggen.html">inloggen</a>
  </div>



  <form action="/regristreren.html" method="POST" class="relative z-10 space-y-6 mt-10">

    <div>
      <label class="block text-center">Email</label>
      <input type="email" name="email" class="w-200 px-4 py-2 border rounded-lg ml-150">
    </div>

    <div>
      <label class="block text-center">Wachtwoord</label>
      <input type="password" name="password" class="w-200 px-4 py-2 border rounded-lg ml-150">
    </div>

    <button type="submit" class="w-200 bg-blue-600 text-white py-2 px-4 rounded-lg ml-150">
      registreren
    </button>

</form>


</body>
</html>