<nav class="bg-white z-10 opacity-90">
  

    <div class="flex items-center space-x-8">
      <a href="/" class="block opacity-100">
        <img
          src="https://media.istockphoto.com/id/1304402879/es/vector/icono-de-la-casa-en-la-plantilla-de-logotipo-vectorial-de-estilo-plano-de-moda.jpg?s=170667a&w=0&k=20&c=EF-4DV5SGpj-Kmpie1RhzK034zBnH4NrjWjm19Lxcss="
          class="w-8 h-8 object-contain">
      </a>

      <a href="account" class="block">
        <img
          src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png"
          class="w-8 h-8 object-contain">
      </a>

      <a href="inloggen" class="text-3xl">inloggen</a>
      <a href="registreren" class="text-3xl">Registreren</a>

      <a href="maakpost" class="block">
        <img 
          src="https://static.vecteezy.com/system/resources/previews/011/912/003/non_2x/plus-sign-icon-free-png.png"
           class="w-8 h-8 object-contain">
      </a>
    </div>
</nav>
